.header{
    font-size: 24px;
    color: #f9faf8;
}
.right_side{
    font-size: 18px;
    color: #E5E7EB;
}
.big_text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.top-header{
    background-color: #1F2937;
}